/*
 * ================================================================================  
 * Project Title: Barterful.com
 * Team Members: Anja Gusev, Ilana Beer, Michael MacPherson
 * Tools: PHP, MySQL, JS, LESS CSS, Coda 2, Codeigniter
 * Copyright 2013 - Team Awesome Possums
 * ================================================================================  
 */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}
ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

/*----------------- end CSS reset -------------------------------*/

/* LESS elements : http://lesselements.com/ */
@import "elements.less";

/******* semantic grid  http://semantic.gs *******/
@import "grid.less";

@total-width:100%;
/********/


/* ================================================================================
 * Global CSS
 * ================================================================================
 */


@font-face{
font-family: barterFont;
src: url("../_fonts/orange_juice.ttf");
font-weight:900;
}

@baseFont: 'Open Sans', Helvetica, Arial, Sans-serif;
@logoFont: barterFont, Helvetica, Arial, Sans-serif;
@logoColour:#1BA7D8;
//#47db50;
@bgColour:#ECE6D6;
@bgImage:url(http://www.netmagazine.com/files/tutorials/demos/2012/04/build-a-responsive-website-in-a-week-responsive-typography-and-grids-part-2/demo/_css/_assets/bg-light.png);


/***** base font size *******/



body{
font-size:16px/1em;
font-family:@baseFont;
font-weight:100;
font-size-adjust:none;
line-height:1.5;
}


.bgWrapper{
background:light gray;

}

.mainWrapper{
padding-top:20px;
padding-bottom:20px;
width:80%;
margin:0 auto;
}

.row{
	.row(12);
}



.button1{
text-transform: uppercase;
padding:10px;
color:@logoColour;
border:1px solid @logoColour;
.rounded(10px);
	&:hover{
	color:white;
	background:@logoColour;
	}
}


.logo
	{
	//font-family:@logoFont;
	color:@logoColour;
	//font-size:2em;
	&:hover{
		opacity:.8;
	       }
	}

a{
text-decoration:none;
}

.left{
	float:left;
}

.right{
	float:right;
}



/***************************** Header *****************************************/


header{

input{

	font-size:1em;
	.rounded(10px);
	height:1.5em;
	border:1px solid black;
	text-indent: 10px;
	}
	
	h1{.column(4);}
	
	form{.column(4);}
	
	nav{
	.column(4);

	ul{
		float:right;
	}
	li{
	display:inline;
	&:not(:first-child){
		margin-left:10px;
		}
	}
	
	}
}


/***************************** Hero Unit *****************************************/

#heroWrapper{
	background-image:url('../_img/naturehigh.jpg');
	background-repeat:no-repeat;
	background-position: right center;
	color:white;
	height:200px;
	font-size:2em;
	a{
		color:white;
		text-decoration: underline;
		&:hover{
			text-decoration:none;
		}
	 }
	 
	 h2,h3,a{
		 .column(12);
	 }
	
}

/****************************drop down list*****************************************/

#dropdown{
	//position:fixed;
	fieldset{
		display:inline;
		
	}
	form{
		.column(3);
	}
}

/***************************** Main Content *****************************************/


main{
	.column(8);
	
	.profile{
	border:1px solid black;
	.rounded(2px);
	height:100px;
			}
}





/***************************** Sidebar *****************************************/

aside{
	.column(4);
}



/***************************** Footer *****************************************/

#footerWrapper{
background:@bgColour;
background-image:@bgImage;
}

footer{
text-align:center;
	li{
	display:inline;}
	 li:not(:first-child){
		&:before{
		content:"|";
			}	
		}
}


/***************************** Media Queries *****************************************/

@media screen and (max-width:30em){

main,aside{
	.column(12);
}

}


@media screen and (max-width:48em){

.mainWrapper{
	width:90%;
}

header{
	h1,form,nav,{
		.column(12);
		text-align: center;
		padding-bottom:20px;
		ul{
			float:none;
		}
	}
}

#heroWrapper{
	font-size:1.6em;
}

article{
	text-align:center;
}

#dropdown{
	form{
		.column(12);
		text-align:center;
		padding-bottom:10px;
		}
	}
}


@media screen and (max-width:60em)
{

}






