/*
 * ================================================================================  
 * Project Title: Barterful.com
 * Team Members: Anja Gusev, Ilana Beer, Michael MacPherson
 * Tools: PHP, MySQL, JS, LESS CSS, Coda 2, Codeigniter
 * Copyright 2013 - Team Awesome Possums
 * ================================================================================  
 */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}
ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

/*----------------- end CSS reset -------------------------------*/

/* LESS elements : http://lesselements.com/ */
@import "elements.less";

/******* semantic grid  http://semantic.gs *******/
@import "grid.less";

@total-width:100%;
/********/


/* ================================================================================
 * Global CSS
 * ================================================================================
 */


@font-face{
font-family: barterFont;
src: url("../_fonts/GiveYouGlory.ttf");
font-weight:900;
}

@baseFont: 'Open Sans', Helvetica, Arial, Sans-serif;
@logoFont: barterFont, Helvetica, Arial, Sans-serif;
@mainRed:#D45354;
@mainBlue:#2FCAD8;
@mainGreen:#51a351;
@mainOrange:#FF6526;
@secondGreen:#0CFB4A;
@thirdGreen: #26FFDE;

@darkGray:#818B85;
@lightGray:#CDCDC1;
@whiteSmoke: whitesmoke;

@mainBorder: 1px solid @darkGray;


/***** base font size *******/



body{
font-size:16px/1em;
font-family:@baseFont;
font-weight:100;
font-size-adjust:none;
line-height:1.5;
	
}


.bgWrapper{
	&:first-of-type{
		background:white;
		border-bottom:@mainBorder;
		}
	&:nth-of-type(2){
		background:@whiteSmoke;
	.box-shadow(0 3px 2px #999);
	//.inner-shadow(0, 1px, 2px, 0.4);
	}
	&:nth-of-type(3){
		.inner-shadow(0, 1px, 2px, 0.4);
	}
	&:nth-of-type(4){
		.inner-shadow(0, 1px, 2px, 0.4);
	}
}

.bgWrapper > .mainWrapper{
padding-top:20px;
padding-bottom:20px;
width:80%;
margin:0 auto;
}

.row{.row(12);}

button, input[type="submit"]{
	.gradient(whitesmoke,@whiteSmoke,@lightGray);
	text-shadow:1px 1px 1px @darkGray;
	//background:@mainGreen;
	.rounded(5px);
	padding:5px;
	color:black;
	text-transform: uppercase;
	border:1px solid @mainGreen;
	&:hover{
		cursor:pointer;
		color:@darkGray;
	}
}

.button1{
text-transform: uppercase;
color:@mainBlue;
text-shadow:1px 1px @mainBlue;
	&:hover{
	color:@mainRed;
	text-shadow:1px 1px @mainRed;
	}
}


a{
text-decoration:none;
}

.left{float:left;}

.right{	float:right;
}

input[type="text"],input[type="password"],textarea{
	font-size:1em;
	.rounded(5px);
	border:@mainBorder;
	text-indent: 10px;
	display:block;
	overflow:hidden;
	margin-bottom:10px;
	&:focus{
		outline:none;
	}
}
	
input[type="text"],input[type="password"]{
	height:1.5em;
}


input[type="submit"]{
	cursor:pointer;
}
input[type="radio"] + label{
	color:@mainBlue;
}

input[type="radio"]:checked + label {
		color:@mainRed;
}

//used for validation error messages
.error{
	color:red;
	font-size:15px;
}




/***************************** Header *****************************************/


header{

	.logo
	{
	font-family:@logoFont;
	color:@mainRed;
	font-size:2em;
	text-shadow:0px -1px 1px black;
	line-height:1em;
	.scale(4);
	&:hover{
		opacity:.8;
	       }
	}
	button{
		position:relative;
		top:-1px;
		left:-15px;
		padding:6px;
	}

		
	h1{.column(4);
		text-align: center;
	}
	
	fieldset{
	.column(4);
		input[type="text"]{
		display:inline;
		
		}
	}
	
	nav{
	.column(4);

	ul{
	float:right;
	}
	li{
	display:inline;
	&:not(:first-child){
		margin-left:10px;
		}
	}
	
	}
}



/****************************drop down list*****************************************/

#dropdown{
	fieldset{
		color:@mainRed;
	}
	form{.column(3);}
	
	select{
		background:@whiteSmoke;
		color:black;
		border:@mainBorder;	
		option:hover{
			background:@mainRed;
		}
	}
	
}



/***************************** Main Content ****************************************/

#mainContent{
	border-left:@mainBorder;
	border-right:@mainBorder;

}

main{
.column(12);

	.profile{
	.column(3);
	margin-bottom:20px;
.box-shadow(4px 4px 4px #999);
	color:whitesmoke;
	width:234px;
	.rounded(2px);
	
	*{
		margin-top:5px;
		margin-left:5px;
	}
	
		&:nth-child(3n+1){
			background:@mainBlue;
		}
		&:nth-child(2n+1){
			background:@mainRed;
		}
		&:nth-child(4n-2){
			background:@mainBlue;
		}
	
	}
	p{
		&:nth-of-type(2){
			font-style: italic;
		}
	}
	
}


/***************************** Footer *****************************************/

#footerWrapper{
background:@whiteSmoke;
color:@darkGray;
}


footer{
text-align:center;
i{
	color:@darkGray;
	&:hover{
		opacity:.8;
		cursor:pointer;
	}
}

	li{
	display:inline;
		&:hover{
			opacity:.8;
			cursor:pointer;
		}
	}
	 li:not(:first-child){
		&:before{
		content:"|";
			}	
		}
}


/***************************** Media Queries *****************************************/

@media screen and (max-width:30em){
main{
	.profile{
		.column(12);
		}
	}
}

@media screen and (max-width:48em){



.mainWrapper{
	width:90%;
}

header{
h1{
	.column(12);
	text-align:center;
}
	fieldset,nav,{
		.column(12);
		text-align: center;
		padding-bottom:20px;
		
	}
}



#dropdown{
	form{
		.column(12);
		text-align:center;
		padding-bottom:10px;
		}
	}

main{
	.profile{
		.column(6);
		width:200px;
		margin-bottom:20px;
	}
}
}

@media screen and (max-width:60em)
{
main{
	.profile{
		.column(4);
		width:200px;
		margin-bottom:20px;
	}
}

}






