@import "general_foundicons.css";

@import "general_foundicons_ie7.css";

@import "social_foundicons.css";

@import "social_foundicons_ie7.css";
/*
 * ================================================================================  
 * Project Title: Barterful.com
 * Team Members: Anja Gusev, Ilana Beer, Michael MacPherson
 * Tools: PHP, MySQL, JS, LESS CSS, Coda 2, Codeigniter
 * Copyright 2013 - Team Awesome Possums
 * ================================================================================  
 */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*----------------- end CSS reset -------------------------------*/
/* LESS elements : http://lesselements.com/ */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#tabContainer {
  padding: 5px;
  border: 2px solid grey;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
}
.tabs {
  height: 30px;
}
.tabs > ul {
  font-size: 1em;
}
.tabs > ul > li {
  margin: 0 2px 0 0;
  padding: 7px 10px;
  border: 1px solid #1ba7d8;
  display: block;
  float: left;
  color: #1ba7d8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.tabs > ul > li:hover {
  cursor: pointer;
  color: white;
  background: #1ba7d8;
}
.tabs > ul > li.tabActiveHeader {
  color: white;
  cursor: pointer;
  background: #1ba7d8;
}
.tabs > ul > li.tabActiveHeader:hover {
  color: black;
}
.tabscontent {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px 10px 25px;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #ffffff, #ffffff);
  background: -moz-linear-gradient(center bottom, #ffffff 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}
/* Foundicons http://www.zurb.com/playground/foundation-icons */
/******* semantic grid stuff ....if I decide to use it
@import "grid.less";
60pxs:12;
60px-width:60;
60px-width:20;
@total-width:100%;
********/
/* ================================================================================
 * Global CSS
 * ================================================================================
 */
@font-face {
  font-family: barterFont;
  src: url("../_fonts/orange_juice.ttf");
  font-weight: 900;
}
/***** base font size *******/
body {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, Sans-serif;
  font-weight: 100;
  line-height: 1.5;
  margin: 0 auto;
}
header,
#contentWrapper,
#heroUnit,
footer {
  max-width: 980px;
  margin: 0 auto;
}
h1 {
  font-size: 1.75em;
  line-height: 1.1429;
  margin: 0.8571em 0 0;
}
h2 {
  border-color: #BCB3A6;
  border-style: solid;
  border-width: 2px 0 1px;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 2em 0 0;
  padding: 0.6111em 0 0.6667em;
  text-transform: uppercase;
}
/*
h3 {
  color:#2C1C16;
  font-size:1.125em;
  line-height:1.1111;
  margin:1.1111em 0 0;
}
h4, h5, h6 {
  color:#3C2C26;
  font-size:1em;
  line-height:1;
  margin:0.75em 0 -0.25em;
}
*/
hr {
  border-top-color: white;
  border-top-style: solid;
  border-width: 2px 0 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  clear: both;
}
a {
  text-decoration: none;
}
/***************************** Header *****************************************/
header .logo {
  float: left;
  font-size: 2.8em;
  font-family: barterFont, Helvetica, Arial, Sans-serif;
  color: #1ba7d8;
  line-height: 1.2em;
}
header .logo:hover {
  opacity: .8;
}
header nav {
  float: right;
}
header nav li {
  display: inline;
  margin-right: 15px;
}
header nav li a {
  text-transform: uppercase;
  padding: 10px;
  opacity: .7;
  color: #1ba7d8;
  border: 1px solid #1ba7d8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 50px;
  -moz-box-shadow: 50px;
  box-shadow: 50px;
}
header nav li a:hover {
  color: white;
  background: #1ba7d8;
  opacity: 1;
}
/***************************** Hero Unit *****************************************/
#heroWrapper {
  clear: both;
  background-image: url('../_img/naturehigh.jpg');
  padding: 25px;
  background-repeat: no-repeat;
  background-position: right center;
}
#heroUnit {
  color: white;
  width: 100%;
}
#heroUnit article {
  margin: 0 auto;
}
#heroUnit a {
  color: white;
  text-decoration: underline;
}
#heroUnit a:hover {
  text-decoration: none;
}
#heroUnit #inputWrapper input {
  margin-top: 20px;
  font-size: 1.3em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 1.5em;
  border: none;
  margin-right: -25px;
}
#heroUnit #inputWrapper a {
  position: relative;
  top: .02em;
  padding: .532em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: black;
  display: inline;
  text-decoration: none;
  background: white;
}
/****************************content wrapper*****************************************/
#contentWrapper h2 {
  margin-bottom: 15px;
  text-align: center;
}
/***************************** Main Content *****************************************/
#mainContent {
  width: 60%;
  margin-right: 5%;
  float: left;
}
/***************************** Sidebar *****************************************/
#sideBar {
  width: 35%;
  float: right;
}
/***************************** Footer *****************************************/
#footerWrapper {
  width: 100%;
  background: #ece6d6;
  background-image: url(http://www.netmagazine.com/files/tutorials/demos/2012/04/build-a-responsive-website-in-a-week-responsive-typography-and-grids-part-2/demo/_css/_assets/bg-light.png);
}
footer {
  text-align: center;
}
footer li {
  display: inline;
}
footer li:not(:first-child):before {
  content: "|";
}
/***************************** Media Queries *****************************************/
@media only screen and (max-width: 30em) {
  #heroWrapper {
    background-position: center center;
  }
  header {
    height: auto;
  }
  #herounit,
  #mainContent,
  #sideBar {
    width: auto;
    float: none;
  }
  #mainContent a,
  #heroUnit a {
    display: block;
  }
}
@media screen and (max-width: 48em) {
  #herounit,
  #mainContent,
  #sideBar {
    width: auto;
    float: none;
  }
}
#heroUnit a {
  display: block;
}
